@import '../../scss/scheme.scss';

.navigation-header-wrap {
  .navigation-header-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    background-color: $color-white;
  }
  
}