// 动画公共样式

// 底部移入动画
.fade-in-from-btottom {
  animation: FadeInFromBtottom 0.2s;
}

// 底部移出动画
.fade-out-from-btottom {
  animation: FadeOutFromBtottom 0.2s;
}

@keyframes FadeInFromBtottom {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: none;
  }
}

@keyframes FadeOutFromBtottom {
  0% {
    transform: none;
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}